.BookThumbnail {
    display: grid;
    grid-template-columns: 4em auto auto auto;
    grid-template-rows: repeat(2, minmax(auto, 1fr));
    grid-template-areas:
        'cover-art title title title'
        'cover-art author publisher publish-date';
    height: 5em;
}

.BookThumbnail-cover-art {
    grid-area: cover-art;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    justify-self: center;
}
.BookThumbnail-title {
    grid-area: title;
}
