
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

#macos
.DS_Store

FrontEnd/myfirstapp/package-lock.json
FrontEnd/bookeroo/package-lock.json
FrontEnd/bookeroo/package-lock.json~feature-sep-15
FrontEnd/bookeroo/junit.xml

logs/*

.env

.project
.settings
