.FilePicker-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    user-select: none;
    color: rgba(0, 0, 0, 0.27);
    font-weight: 400;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    border-style: dashed;
    position: relative;
}

.FilePicker-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.FilePicker-preview img {
    object-fit: cover;
}
